$maincolor: #883CDA;
@mixin box ($w, $h){
    width: $w;
    height: $h;
}
@mixin text($fs, $fw,$lh) {
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
}
.cont_bl{
    color: black;
}
.sinerg{
    margin-top: 190px;
    .icon{
        background-color: $maincolor;
       margin-bottom: 32px;
    }
    h2{
        @include text (48px, 900, 58px);
    }
    p{
        width: 420px;
        @include text (16px, 400, 21px);
        margin-bottom: 84px;
    }
    .prise-block{
        @include box (338px, 299px);
        padding: 0 39px 41px 39px ;
        p{
            @include text (18px, 400, 26px);
            width: 260px;
        }
    }
}
.media{
   h2{
    @include text (48px, 900, 58px);
    margin-bottom: 70px;
   }
}